<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gestorvisitas.mapper.TbTrVisitaMapper" >
  <resultMap id="BaseResultMap" type="com.gestorvisitas.model.TbTrVisita" >

    <id column="vis_codigo" property="visCodigo" jdbcType="INTEGER" />
    <id column="cli_codigo" property="cliCodigo" jdbcType="INTEGER" />
    <result column="pro_codigo" property="proCodigo" jdbcType="INTEGER" />
    <result column="mot_codigo" property="motCodigo" jdbcType="INTEGER" />
    <result column="usu_codigo" property="usuCodigo" jdbcType="INTEGER" />
    <result column="are_codigo" property="areCodigo" jdbcType="INTEGER" />
    <result column="vis_fec_inicio" property="visFecInicio" jdbcType="DATE" />
    <result column="vis_latitud" property="visLatitud" jdbcType="VARCHAR" />
    <result column="vis_longitud" property="visLongitud" jdbcType="VARCHAR" />
    <result column="vis_licitacion" property="visLicitacion" jdbcType="INTEGER" />
    <result column="vis_competencia" property="visCompetencia" jdbcType="INTEGER" />
    <result column="vis_detalle_oportunidad" property="visDetalleOportunidad" jdbcType="VARCHAR" />
    <result column="vis_numero_lineas" property="visNumeroLineas" jdbcType="INTEGER" />
    <result column="vis_fec_finalizacion" property="visFecFinalizacion" jdbcType="DATE" />
    <result column="vis_fec_comprometida" property="visFecComprometida" jdbcType="DATE" />
    <result column="vis_responsable" property="visResponsable" jdbcType="VARCHAR" />
    <result column="vis_descripcion" property="visDescripcion" jdbcType="VARCHAR" />
    <result column="vis_no_visita" property="visNoVisita" jdbcType="INTEGER" />
    <result column="vis_estado" property="visEstado" jdbcType="INTEGER" />
    <result column="vis_fec_alta" property="visFecAlta" jdbcType="DATE" />
    <result column="vis_fec_baja" property="visFecBaja" jdbcType="DATE" />
    <result column="vis_fec_modificacion" property="visFecModificacion" jdbcType="DATE" />
    <result column="vis_usu_alta" property="visUsuAlta" jdbcType="VARCHAR" />
    <result column="vis_usu_baja" property="visUsuBaja" jdbcType="VARCHAR" />
    <result column="vis_usu_modificacion" property="visUsuModificacion" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
   
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >

    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
  
    vis_codigo, cli_codigo, pro_codigo, mot_codigo, usu_codigo, are_codigo, vis_fec_inicio, 
    vis_latitud, vis_longitud, vis_licitacion, vis_competencia, vis_detalle_oportunidad, 
    vis_numero_lineas, vis_fec_finalizacion, vis_fec_comprometida, vis_responsable, vis_descripcion, 
    vis_no_visita, vis_estado, vis_fec_alta, vis_fec_baja, vis_fec_modificacion, vis_usu_alta, 
    vis_usu_baja, vis_usu_modificacion
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.gestorvisitas.model.TbTrVisitaExample" >

    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_tr_visita
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.gestorvisitas.model.TbTrVisitaKey" >
   
    select 
    <include refid="Base_Column_List" />
    from tb_tr_visita
    where vis_codigo = #{visCodigo,jdbcType=INTEGER}
      and cli_codigo = #{cliCodigo,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.gestorvisitas.model.TbTrVisitaKey" >
 
    delete from tb_tr_visita
    where vis_codigo = #{visCodigo,jdbcType=INTEGER}
      and cli_codigo = #{cliCodigo,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.gestorvisitas.model.TbTrVisitaExample" >
   
    delete from tb_tr_visita
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.gestorvisitas.model.TbTrVisita" >
   
    insert into tb_tr_visita (vis_codigo, cli_codigo, pro_codigo, 
      mot_codigo, usu_codigo, are_codigo, 
      vis_fec_inicio, vis_latitud, vis_longitud, 
      vis_licitacion, vis_competencia, vis_detalle_oportunidad, 
      vis_numero_lineas, vis_fec_finalizacion, vis_fec_comprometida, 
      vis_responsable, vis_descripcion, vis_no_visita, 
      vis_estado, vis_fec_alta, vis_fec_baja, 
      vis_fec_modificacion, vis_usu_alta, vis_usu_baja, 
      vis_usu_modificacion)
    values (#{visCodigo,jdbcType=INTEGER}, #{cliCodigo,jdbcType=INTEGER}, #{proCodigo,jdbcType=INTEGER}, 
      #{motCodigo,jdbcType=INTEGER}, #{usuCodigo,jdbcType=INTEGER}, #{areCodigo,jdbcType=INTEGER}, 
      #{visFecInicio,jdbcType=DATE}, #{visLatitud,jdbcType=VARCHAR}, #{visLongitud,jdbcType=VARCHAR}, 
      #{visLicitacion,jdbcType=INTEGER}, #{visCompetencia,jdbcType=INTEGER}, #{visDetalleOportunidad,jdbcType=VARCHAR}, 
      #{visNumeroLineas,jdbcType=INTEGER}, #{visFecFinalizacion,jdbcType=DATE}, #{visFecComprometida,jdbcType=DATE}, 
      #{visResponsable,jdbcType=VARCHAR}, #{visDescripcion,jdbcType=VARCHAR}, #{visNoVisita,jdbcType=INTEGER}, 
      #{visEstado,jdbcType=INTEGER}, #{visFecAlta,jdbcType=DATE}, #{visFecBaja,jdbcType=DATE}, 
      #{visFecModificacion,jdbcType=DATE}, #{visUsuAlta,jdbcType=VARCHAR}, #{visUsuBaja,jdbcType=VARCHAR}, 
      #{visUsuModificacion,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.gestorvisitas.model.TbTrVisita" >
   
    insert into tb_tr_visita
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="visCodigo != null" >
        vis_codigo,
      </if>
      <if test="cliCodigo != null" >
        cli_codigo,
      </if>
      <if test="proCodigo != null" >
        pro_codigo,
      </if>
      <if test="motCodigo != null" >
        mot_codigo,
      </if>
      <if test="usuCodigo != null" >
        usu_codigo,
      </if>
      <if test="areCodigo != null" >
        are_codigo,
      </if>
      <if test="visFecInicio != null" >
        vis_fec_inicio,
      </if>
      <if test="visLatitud != null" >
        vis_latitud,
      </if>
      <if test="visLongitud != null" >
        vis_longitud,
      </if>
      <if test="visLicitacion != null" >
        vis_licitacion,
      </if>
      <if test="visCompetencia != null" >
        vis_competencia,
      </if>
      <if test="visDetalleOportunidad != null" >
        vis_detalle_oportunidad,
      </if>
      <if test="visNumeroLineas != null" >
        vis_numero_lineas,
      </if>
      <if test="visFecFinalizacion != null" >
        vis_fec_finalizacion,
      </if>
      <if test="visFecComprometida != null" >
        vis_fec_comprometida,
      </if>
      <if test="visResponsable != null" >
        vis_responsable,
      </if>
      <if test="visDescripcion != null" >
        vis_descripcion,
      </if>
      <if test="visNoVisita != null" >
        vis_no_visita,
      </if>
      <if test="visEstado != null" >
        vis_estado,
      </if>
      <if test="visFecAlta != null" >
        vis_fec_alta,
      </if>
      <if test="visFecBaja != null" >
        vis_fec_baja,
      </if>
      <if test="visFecModificacion != null" >
        vis_fec_modificacion,
      </if>
      <if test="visUsuAlta != null" >
        vis_usu_alta,
      </if>
      <if test="visUsuBaja != null" >
        vis_usu_baja,
      </if>
      <if test="visUsuModificacion != null" >
        vis_usu_modificacion,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="visCodigo != null" >
        #{visCodigo,jdbcType=INTEGER},
      </if>
      <if test="cliCodigo != null" >
        #{cliCodigo,jdbcType=INTEGER},
      </if>
      <if test="proCodigo != null" >
        #{proCodigo,jdbcType=INTEGER},
      </if>
      <if test="motCodigo != null" >
        #{motCodigo,jdbcType=INTEGER},
      </if>
      <if test="usuCodigo != null" >
        #{usuCodigo,jdbcType=INTEGER},
      </if>
      <if test="areCodigo != null" >
        #{areCodigo,jdbcType=INTEGER},
      </if>
      <if test="visFecInicio != null" >
        #{visFecInicio,jdbcType=DATE},
      </if>
      <if test="visLatitud != null" >
        #{visLatitud,jdbcType=VARCHAR},
      </if>
      <if test="visLongitud != null" >
        #{visLongitud,jdbcType=VARCHAR},
      </if>
      <if test="visLicitacion != null" >
        #{visLicitacion,jdbcType=INTEGER},
      </if>
      <if test="visCompetencia != null" >
        #{visCompetencia,jdbcType=INTEGER},
      </if>
      <if test="visDetalleOportunidad != null" >
        #{visDetalleOportunidad,jdbcType=VARCHAR},
      </if>
      <if test="visNumeroLineas != null" >
        #{visNumeroLineas,jdbcType=INTEGER},
      </if>
      <if test="visFecFinalizacion != null" >
        #{visFecFinalizacion,jdbcType=DATE},
      </if>
      <if test="visFecComprometida != null" >
        #{visFecComprometida,jdbcType=DATE},
      </if>
      <if test="visResponsable != null" >
        #{visResponsable,jdbcType=VARCHAR},
      </if>
      <if test="visDescripcion != null" >
        #{visDescripcion,jdbcType=VARCHAR},
      </if>
      <if test="visNoVisita != null" >
        #{visNoVisita,jdbcType=INTEGER},
      </if>
      <if test="visEstado != null" >
        #{visEstado,jdbcType=INTEGER},
      </if>
      <if test="visFecAlta != null" >
        #{visFecAlta,jdbcType=DATE},
      </if>
      <if test="visFecBaja != null" >
        #{visFecBaja,jdbcType=DATE},
      </if>
      <if test="visFecModificacion != null" >
        #{visFecModificacion,jdbcType=DATE},
      </if>
      <if test="visUsuAlta != null" >
        #{visUsuAlta,jdbcType=VARCHAR},
      </if>
      <if test="visUsuBaja != null" >
        #{visUsuBaja,jdbcType=VARCHAR},
      </if>
      <if test="visUsuModificacion != null" >
        #{visUsuModificacion,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.gestorvisitas.model.TbTrVisitaExample" resultType="java.lang.Integer" >
  
    select count(*) from tb_tr_visita
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
   
    update tb_tr_visita
    <set >
      <if test="record.visCodigo != null" >
        vis_codigo = #{record.visCodigo,jdbcType=INTEGER},
      </if>
      <if test="record.cliCodigo != null" >
        cli_codigo = #{record.cliCodigo,jdbcType=INTEGER},
      </if>
      <if test="record.proCodigo != null" >
        pro_codigo = #{record.proCodigo,jdbcType=INTEGER},
      </if>
      <if test="record.motCodigo != null" >
        mot_codigo = #{record.motCodigo,jdbcType=INTEGER},
      </if>
      <if test="record.usuCodigo != null" >
        usu_codigo = #{record.usuCodigo,jdbcType=INTEGER},
      </if>
      <if test="record.areCodigo != null" >
        are_codigo = #{record.areCodigo,jdbcType=INTEGER},
      </if>
      <if test="record.visFecInicio != null" >
        vis_fec_inicio = #{record.visFecInicio,jdbcType=DATE},
      </if>
      <if test="record.visLatitud != null" >
        vis_latitud = #{record.visLatitud,jdbcType=VARCHAR},
      </if>
      <if test="record.visLongitud != null" >
        vis_longitud = #{record.visLongitud,jdbcType=VARCHAR},
      </if>
      <if test="record.visLicitacion != null" >
        vis_licitacion = #{record.visLicitacion,jdbcType=INTEGER},
      </if>
      <if test="record.visCompetencia != null" >
        vis_competencia = #{record.visCompetencia,jdbcType=INTEGER},
      </if>
      <if test="record.visDetalleOportunidad != null" >
        vis_detalle_oportunidad = #{record.visDetalleOportunidad,jdbcType=VARCHAR},
      </if>
      <if test="record.visNumeroLineas != null" >
        vis_numero_lineas = #{record.visNumeroLineas,jdbcType=INTEGER},
      </if>
      <if test="record.visFecFinalizacion != null" >
        vis_fec_finalizacion = #{record.visFecFinalizacion,jdbcType=DATE},
      </if>
      <if test="record.visFecComprometida != null" >
        vis_fec_comprometida = #{record.visFecComprometida,jdbcType=DATE},
      </if>
      <if test="record.visResponsable != null" >
        vis_responsable = #{record.visResponsable,jdbcType=VARCHAR},
      </if>
      <if test="record.visDescripcion != null" >
        vis_descripcion = #{record.visDescripcion,jdbcType=VARCHAR},
      </if>
      <if test="record.visNoVisita != null" >
        vis_no_visita = #{record.visNoVisita,jdbcType=INTEGER},
      </if>
      <if test="record.visEstado != null" >
        vis_estado = #{record.visEstado,jdbcType=INTEGER},
      </if>
      <if test="record.visFecAlta != null" >
        vis_fec_alta = #{record.visFecAlta,jdbcType=DATE},
      </if>
      <if test="record.visFecBaja != null" >
        vis_fec_baja = #{record.visFecBaja,jdbcType=DATE},
      </if>
      <if test="record.visFecModificacion != null" >
        vis_fec_modificacion = #{record.visFecModificacion,jdbcType=DATE},
      </if>
      <if test="record.visUsuAlta != null" >
        vis_usu_alta = #{record.visUsuAlta,jdbcType=VARCHAR},
      </if>
      <if test="record.visUsuBaja != null" >
        vis_usu_baja = #{record.visUsuBaja,jdbcType=VARCHAR},
      </if>
      <if test="record.visUsuModificacion != null" >
        vis_usu_modificacion = #{record.visUsuModificacion,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    
    update tb_tr_visita
    set vis_codigo = #{record.visCodigo,jdbcType=INTEGER},
      cli_codigo = #{record.cliCodigo,jdbcType=INTEGER},
      pro_codigo = #{record.proCodigo,jdbcType=INTEGER},
      mot_codigo = #{record.motCodigo,jdbcType=INTEGER},
      usu_codigo = #{record.usuCodigo,jdbcType=INTEGER},
      are_codigo = #{record.areCodigo,jdbcType=INTEGER},
      vis_fec_inicio = #{record.visFecInicio,jdbcType=DATE},
      vis_latitud = #{record.visLatitud,jdbcType=VARCHAR},
      vis_longitud = #{record.visLongitud,jdbcType=VARCHAR},
      vis_licitacion = #{record.visLicitacion,jdbcType=INTEGER},
      vis_competencia = #{record.visCompetencia,jdbcType=INTEGER},
      vis_detalle_oportunidad = #{record.visDetalleOportunidad,jdbcType=VARCHAR},
      vis_numero_lineas = #{record.visNumeroLineas,jdbcType=INTEGER},
      vis_fec_finalizacion = #{record.visFecFinalizacion,jdbcType=DATE},
      vis_fec_comprometida = #{record.visFecComprometida,jdbcType=DATE},
      vis_responsable = #{record.visResponsable,jdbcType=VARCHAR},
      vis_descripcion = #{record.visDescripcion,jdbcType=VARCHAR},
      vis_no_visita = #{record.visNoVisita,jdbcType=INTEGER},
      vis_estado = #{record.visEstado,jdbcType=INTEGER},
      vis_fec_alta = #{record.visFecAlta,jdbcType=DATE},
      vis_fec_baja = #{record.visFecBaja,jdbcType=DATE},
      vis_fec_modificacion = #{record.visFecModificacion,jdbcType=DATE},
      vis_usu_alta = #{record.visUsuAlta,jdbcType=VARCHAR},
      vis_usu_baja = #{record.visUsuBaja,jdbcType=VARCHAR},
      vis_usu_modificacion = #{record.visUsuModificacion,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.gestorvisitas.model.TbTrVisita" >
    
    update tb_tr_visita
    <set >
      <if test="proCodigo != null" >
        pro_codigo = #{proCodigo,jdbcType=INTEGER},
      </if>
      <if test="motCodigo != null" >
        mot_codigo = #{motCodigo,jdbcType=INTEGER},
      </if>
      <if test="usuCodigo != null" >
        usu_codigo = #{usuCodigo,jdbcType=INTEGER},
      </if>
      <if test="areCodigo != null" >
        are_codigo = #{areCodigo,jdbcType=INTEGER},
      </if>
      <if test="visFecInicio != null" >
        vis_fec_inicio = #{visFecInicio,jdbcType=DATE},
      </if>
      <if test="visLatitud != null" >
        vis_latitud = #{visLatitud,jdbcType=VARCHAR},
      </if>
      <if test="visLongitud != null" >
        vis_longitud = #{visLongitud,jdbcType=VARCHAR},
      </if>
      <if test="visLicitacion != null" >
        vis_licitacion = #{visLicitacion,jdbcType=INTEGER},
      </if>
      <if test="visCompetencia != null" >
        vis_competencia = #{visCompetencia,jdbcType=INTEGER},
      </if>
      <if test="visDetalleOportunidad != null" >
        vis_detalle_oportunidad = #{visDetalleOportunidad,jdbcType=VARCHAR},
      </if>
      <if test="visNumeroLineas != null" >
        vis_numero_lineas = #{visNumeroLineas,jdbcType=INTEGER},
      </if>
      <if test="visFecFinalizacion != null" >
        vis_fec_finalizacion = #{visFecFinalizacion,jdbcType=DATE},
      </if>
      <if test="visFecComprometida != null" >
        vis_fec_comprometida = #{visFecComprometida,jdbcType=DATE},
      </if>
      <if test="visResponsable != null" >
        vis_responsable = #{visResponsable,jdbcType=VARCHAR},
      </if>
      <if test="visDescripcion != null" >
        vis_descripcion = #{visDescripcion,jdbcType=VARCHAR},
      </if>
      <if test="visNoVisita != null" >
        vis_no_visita = #{visNoVisita,jdbcType=INTEGER},
      </if>
      <if test="visEstado != null" >
        vis_estado = #{visEstado,jdbcType=INTEGER},
      </if>
      <if test="visFecAlta != null" >
        vis_fec_alta = #{visFecAlta,jdbcType=DATE},
      </if>
      <if test="visFecBaja != null" >
        vis_fec_baja = #{visFecBaja,jdbcType=DATE},
      </if>
      <if test="visFecModificacion != null" >
        vis_fec_modificacion = #{visFecModificacion,jdbcType=DATE},
      </if>
      <if test="visUsuAlta != null" >
        vis_usu_alta = #{visUsuAlta,jdbcType=VARCHAR},
      </if>
      <if test="visUsuBaja != null" >
        vis_usu_baja = #{visUsuBaja,jdbcType=VARCHAR},
      </if>
      <if test="visUsuModificacion != null" >
        vis_usu_modificacion = #{visUsuModificacion,jdbcType=VARCHAR},
      </if>
    </set>
    where vis_codigo = #{visCodigo,jdbcType=INTEGER}
      and cli_codigo = #{cliCodigo,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gestorvisitas.model.TbTrVisita" >
  
    update tb_tr_visita
    set pro_codigo = #{proCodigo,jdbcType=INTEGER},
      mot_codigo = #{motCodigo,jdbcType=INTEGER},
      usu_codigo = #{usuCodigo,jdbcType=INTEGER},
      are_codigo = #{areCodigo,jdbcType=INTEGER},
      vis_fec_inicio = #{visFecInicio,jdbcType=DATE},
      vis_latitud = #{visLatitud,jdbcType=VARCHAR},
      vis_longitud = #{visLongitud,jdbcType=VARCHAR},
      vis_licitacion = #{visLicitacion,jdbcType=INTEGER},
      vis_competencia = #{visCompetencia,jdbcType=INTEGER},
      vis_detalle_oportunidad = #{visDetalleOportunidad,jdbcType=VARCHAR},
      vis_numero_lineas = #{visNumeroLineas,jdbcType=INTEGER},
      vis_fec_finalizacion = #{visFecFinalizacion,jdbcType=DATE},
      vis_fec_comprometida = #{visFecComprometida,jdbcType=DATE},
      vis_responsable = #{visResponsable,jdbcType=VARCHAR},
      vis_descripcion = #{visDescripcion,jdbcType=VARCHAR},
      vis_no_visita = #{visNoVisita,jdbcType=INTEGER},
      vis_estado = #{visEstado,jdbcType=INTEGER},
      vis_fec_alta = #{visFecAlta,jdbcType=DATE},
      vis_fec_baja = #{visFecBaja,jdbcType=DATE},
      vis_fec_modificacion = #{visFecModificacion,jdbcType=DATE},
      vis_usu_alta = #{visUsuAlta,jdbcType=VARCHAR},
      vis_usu_baja = #{visUsuBaja,jdbcType=VARCHAR},
      vis_usu_modificacion = #{visUsuModificacion,jdbcType=VARCHAR}
    where vis_codigo = #{visCodigo,jdbcType=INTEGER}
      and cli_codigo = #{cliCodigo,jdbcType=INTEGER}
  </update>
</mapper>